<h1>Books!</h1>

<table>
  <thead>
    <th>Title</th>
    <th>Author</th>
    <th>Description</th>
    <th>Link</th>
    <th>Submitted By</th>
  </thead>

  <% @books.each do |book| %>
  <tr>
    <td><%= link_to book.title, book_path(book) %></td>
    <td><%= book.author %></td>
    <td><%= book.description %></td>
    <td><%= book.link %></td>
    <td><%= link_to book.user.username, user_path(username: book.user.username) %></td>
    <% if book.user == @current_user %>
    <td><%= link_to 'Edit', edit_book_path(book) %></td>
    <td><%= link_to 'Delete', book_path(book),
              method: :delete,
              data: { confirm: 'Are you delete this book?' } %></td>
              <% end %>
  </tr>
  <% end %>
</table>
